:root {
	--main-bg-color: #e2e1e0;

	--main-text-color: #444;
	--alt-text-color: white;

	--main-container-bg-color: white;
	--alt1-container-bg-color: gray;
	--alt2-container-bg-color: #ffadad;

	--radio-color: #aaaaaa;
	--radio-selected-color: #0dff92;
	--radio-hover-color: white;

	--warning-bg-color: #ff6262;

	--box-shadow: 0 1px 3px rgba(133, 96, 96, 0.12), 0 1px 2px rgba(0,0,0,0.24);
	--selected-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: var(--main-bg-color);
	font-family: 'Open Sans', sans-serif;
	margin: 1em;
	display: grid;
	grid-gap: 0.5em 0.5em;
	grid-auto-rows: auto 1fr;
	grid-template-areas: "header" "page";
}

header {
	grid-area: header;
	display: grid;
	grid-auto-columns: 1fr  2fr 1fr;
	grid-template-areas: "search logo user";
	box-sizing: border-box;
}

header .mobile {
	display: none;
}

header .logo {
	grid-area: logo;
	color: var(--main-text-color);
	font-weight: bold;
	font-size: 2em;
	text-align: center;
} 

header .icon1, .icon2 {
	color: var(--main-text-color);
	align-self: center;
	text-align: center;
}

header .icon1 {
	grid-area: search;
} 

header .icon2 {
	grid-area: user;
}

header #user-bar {
	grid-area: user;
	text-align: center;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: var(--alt-text-color);
	background: var(--alt1-container-bg-color);
	text-align: center;
}

/* DIM MASK */

#dim-mask {
	z-index: 2;
}

/* LIST POSTS */

#list-posts {
	width: 40em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#list-posts .post #post-content {
	max-height: 30em;
	overflow: hidden;
}

/* LIST COMMENTS */

#list-comments {
	width: 72.5%;
}

#list-comments .comment {
	margin: 0.5em;
	padding: 0.5em;
}

#list-posts > h1, #list-comments > h1  {
	margin-top: 2em;
	color: var(--main-text-color);
	text-align: center;
	display: block;
}

/* PROFILE BAR */

#profile-bar {
	background: var(--alt2-container-bg-color);
	text-align: center;
	box-shadow: var(--selected-box-shadow);
	width: 16em;
	height: 20em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-top: 0em;
	padding-bottom: 0em;
}

#profile-bar #user-info, #user-bio {
	color: var(--main-text-color);
}

#profile-bar #user-info {
	letter-spacing: 1px;
	font-weight: bold;
}

#profile-bar #user-settings {
	height: 4em;
}

#profile-bar #delete-user {
	cursor: pointer;
	color: var(--main-text-color);
	width: 1em;
	transition: color 0.5s;
	align-self: flex-end;
}

#profile-bar #delete-user:hover {
	color: crimson;
}

#profile-bar span {
	color: var(--main-text-color);
	background: var(--warning-bg-color);
	box-shadow: var(--selected-box-shadow);
	position: absolute;
	width: 23em;
	margin: 0em;
	z-index: 4;
	text-align: center;
}

#profile-bar span #confirm-question-warning {
	font-weight: bolder;
}

#profile-bar span button {
	font-size: 70%;
}

#profile-bar span #yes, #profile-bar span #no {
	margin-left: 0em;
	margin-right: 0em;
	vertical-align: middle;
	display: inline-block;
	width: 45%;
}

#profile-bar span i {
	vertical-align: middle;
	margin-right: 3%;
}

/* USER BAR */

#user-bar {
	font-weight: bold;
	align-self: center;
	text-align: center;
}

#user-bar span {
	margin-right: 1em;
}

/* SIGN BAR, SETTINGS BAR */

#sign-bar, #settings-bar {
	width: 24em;
	max-height: 32em;
	background: var(--main-container-bg-color);
	box-shadow: var(--selected-box-shadow);
}

#sign-bar img, #settings-bar img, #newpost-bar img {
	cursor: pointer;
	object-fit: cover;
}

#sign-bar #picture-preview, #settings-bar #picture-preview, #newpost-bar #picture-preview {
	display: none;
}

#sign-bar h1, #settings-bar h1 {
	color: var(--main-text-color);
	margin-bottom: 1em;
}

#sign-bar span, #settings-bar span, #newpost-bar span, .post span {
	color: var(--alt-text-color);
	background: var(--warning-bg-color);
	box-shadow: var(--selected-box-shadow);
	position: absolute;
	width: 55%;
	margin: 0em;
	z-index: 4;
	text-align: center;
}

#newpost-bar span {
	width: 13em;
	left: 86%;
	top: 36%;
}

#sign-bar form, #settings-bar form {
	text-align: center;
	flex-direction: column;
	justify-content: space-evenly;
}

/* SEARCH BAR */

#search-bar {
	background: var(--alt1-container-bg-color);
	text-align: center;
	box-shadow: var(--selected-box-shadow);
	width: 16em;
	height: 22em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#search-bar h1  {
	color: var(--alt-text-color);
	margin-bottom: 1em;
 }
  
 #search-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
  
#search-bar ul li {
	display: inline;
	color: var(--radio-color);
}
  
#search-bar ul li input[type=radio]{
	position: absolute;
	visibility: hidden;
}

#search-bar ul li label i {
	font-size: 3em;
}

#search-bar ul li label {
	font-weight: bold;
	padding: 1em 1em 1em;
	margin: 10px auto;
	cursor: pointer;
	transition: all 0.25s linear;
}

#search-bar ul li:hover label {
	color: var(--radio-hover-color);
}
  
#search-bar input[type=radio]:checked ~ label{
	/* color: var(--radio-selected-color); */
	color: var(--alt2-container-bg-color);
}

/* NEW POST BAR */

#newpost-bar {
	color: var(--main-text-color);
	background: var(--alt2-container-bg-color);
	text-align: center;
	box-shadow: var(--selected-box-shadow);
	width: 16em;
	height: 4.5em;
}

#newpost-bar #story-form, #image-form {
	display: none;
}

#newpost-bar form {
	margin-top: 0em;
	height: 20em;
}

#newpost-bar #newPostInput {
	height: 17.5em;
	object-fit: contain;
	align-content: center;
}

#newpost-bar .newPostBtn {
	display: inline-block;
	height: 30%;
	width: 40%;
}

#newpost-bar .newPost-picture {
	max-width: 100%;
	max-height: 100%;
}

#newpost-bar #picture-preview-enclosure {
	height: 80%;
}

/* POST */

.post {
	max-width: inherit;
	background: var(--main-container-bg-color);
	box-shadow: var(--box-shadow);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "post-title post-title" "post-content post-content" "post-info post-info";
}

.post:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.post span {
	color: var(--main-text-color);
	width: 16em;
}

.post #post-title {
	grid-area: post-title;
	word-break: break-word;
}

.post #post-title h1 {
	font-size: 1.2em;
	font-weight: bold;
	color: var(--main-text-color);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.post #delete-post {
	cursor: pointer;
	grid-area: delete-post;
	display: none;
	color: var(--main-text-color);
	text-align: right;
	transition: color 0.5s;
	align-self: center;
	margin-left: 1em;
}

.post #delete-post:hover {
	color: crimson;
}

.post #post-content {
	grid-area: post-content;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.post #post-content #post-image {
	align-self: center;
	text-align: center;
}

.post #post-content #post-story {
	align-content: stretch;
	text-align: left;
}

.post #post-info {
	grid-area: post-info;
	margin-top: 1em;
}

.post #post-content, #post-info, .comment #comment-content, #comment-info {
	color: var(--main-text-color);
}

.post #post-info input, .comment #comment-info input {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

.post #post-info i, .comment #comment-info i {
	cursor: pointer;
	transition: color 1s;
}

.post #post-info input[id="upvote"]:checked + i, .comment #comment-info input[id="upvote"]:checked + i {
	color: green;
}

.post #post-info input[id="downvote"]:checked + i, .comment #comment-info input[id="downvote"]:checked + i {
	color: crimson;
}

.post #post-info label i:hover, .comment #comment-info label i:hover {	
	filter: contrast(50%);
}

.post #post-info label i[id="movingUp"], .comment #comment-info label i[id="movingUp"] {
	animation: jumpUp 0.5s 0s ease;
}

.post #post-info label i[id="movingDown"], .comment #comment-info label i[id="movingDown"] {
	animation: jumpDown 0.5s 0s ease;
}

.post #post-info p[id="dp"], .post #nrComments {
	font-weight: bold;
	display: inline;
	position: relative;
	left: 0.1em;
	bottom: 0.5em;
}

.post #nrComments, .post #nrCommentsLink {
	left: 1em;
}

.post #nrCommentsLink {
	position: relative;
}

.post #postByTimeAgo, .comment #commentByTimeAgo {
	position: relative;
	float: right;
	font-size: 0.8em;
}

.post #postBy, .comment #commentBy {
	display: inline;
}

.post #postByLink, .comment #commentByLink {
	text-decoration: underline;
}

/* COMMENT SIMPLIFY/MERGE COMMON CSS WITH POST LATER */

.comment {
	max-width: inherit;
	background: var(--main-container-bg-color);
	box-shadow: var(--box-shadow);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "comment-content comment-content" "comment-info comment-info" "sub-comments sub-comments";
}

.comment #comment-content {
	grid-area: comment-content;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.comment #comment-info {
	grid-area: comment-info;
	margin-top: 1em;
}

.comment #comment-info p[id^="pp"] {
	font-weight: bold;
	display: inline;
	position: relative;
	left: 0.1em;
	bottom: 0.5em;
}

.comment #sub-comments {
	grid-area: sub-comments;
}

/* POST PAGE */

#post-page {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#post-page .post {
	width: 70%;
	grid-template-columns: 20fr 1fr;
	grid-template-areas: "post-title delete-post" "post-content post-content" "post-info post-info";
}

#post-page .post #delete-post {
	display: block;
}

/* 404 PAGE */

#error-404-page {
	color: var(--main-text-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* PICTURE MODAL */

#picture-modal #popup-picture {
	max-width: 65vw;
}

#picture-modal {
	display: inline-block;
	max-height: 80%;
	overflow-y: auto;
}

/* POST PICTURE */

.post-picture {
	max-width: 100%;
	height: auto;
}

/* MINIATURE POST PICTURE */

/* .miniature-post-picture {
	height: 35px;
	width: 35px;
	vertical-align: middle;
} */

/* PROFILE PICTURE */

.profile-picture {
	border-radius: 50%;
	height: 75px;
	width: 75px;
	vertical-align: middle;
	margin-bottom: 0.75em;
	object-fit: cover;
}

/* MINIATURE PROFILE PICTURE */

.miniature-profile-picture {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	object-fit: cover;
}

/* FREE SPACE */

.free-space {
	width: 16em;
}

/** PAGE */

.page {
	grid-area: page;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/** CONTAINER */

.container {
	border-radius: 2px;
	padding: 1em;
	margin: 1em;
	word-wrap: break-word;
	cursor: default;
}

/** MODAL */

.modal {
	display: none;
	position: fixed;
	margin: 0;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	z-index: 3;
	overflow: hidden;	
}

/* LINK */

a {
	text-decoration: none;
	color: #444;
}

/* INPUT */

input[type=text], input[type=password], input[type=search], input[type=email], textarea {
	font-family: 'Open Sans';
	width: 75%;
    padding: 0.75em;
	margin: 0.50em;
	-webkit-appearance: button;
}

textarea[name=postContent] {
	margin-top: 0em;
	height: 65%;
}

/* BUTTON */

button {
	position: relative;
	height: 40px;
	margin: 10px;
	padding: 5px 5px;
	font-weight: bold;
	font-size: 0.90em;
	letter-spacing: 2px;
	color: var(--main-text-color);
	border: 2px var(--main-text-color) solid;
	border-radius: 4px;
	text-transform: uppercase;
	outline: 0;
	overflow:hidden;
	background: none;
	z-index: 1;
	cursor: pointer;
	transition: 0.08s ease-in;
}

/* ANIMATIONS */

.fill:hover {
  	color: white;
}

.fill:before {
  	content: "";
  	position: absolute;
  	background-color: #444;
 	bottom: 0;
  	left: 0;
 	right: 0;
 	top: 100%;
	z-index: -1;
	transition: top 0.08s ease-in;
}

.fill:hover:before {
  	top: 0;
}

.fade {
	/* opacity: 0; */
	animation: fade 2s;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.shake-pulse {
	box-shadow: 0 0 0 2px #ff6262;
	animation: shake-pulse 0.75s;
}

@keyframes shake-pulse {
	0% { 
		transform: translate(1px, 0px) rotate(0deg);
		box-shadow: 0 0 0 2px #ff6262;
	}
    10% { 
		transform: translate(-1px, 0px) rotate(-1deg); 
	}
    20% { 
		transform: translate(-3px, 0px) rotate(1deg); 
	}
    30% { 
		transform: translate(3px, 0px) rotate(0deg); 
	}
    40% { 
		transform: translate(1px, 0px) rotate(1deg); 
	}
    50% { 
		transform: translate(-1px, 0px) rotate(-1deg); 
	}
    60% { 
		transform: translate(-3px, 0px) rotate(0deg); 
	}
    70% { 
		transform: translate(3px, 0px) rotate(-1deg);
		box-shadow: 0 0 0 2px #ff6262;
	}
    80% { 
		transform: translate(-1px, 0px) rotate(1deg); 
	}
    90% { 
		transform: translate(1px, 0px) rotate(0deg);
	}
	100% { 
		transform: translate(1px, 0px) rotate(-1deg);
		box-shadow: 0 0 0 0 #ff6262; 
	}
}

.unfold {
	animation: unfold 0.2s ease;
	animation-fill-mode: forwards;
}

@keyframes unfold {
	from {
		height: 4.5em;
	}
	to {
		height: 28em;
	}
}

.conceal {
	animation: conceal 0.2s ease;
	animation-fill-mode: forwards;
}

@keyframes conceal {
	from {
		height: 28em;
	}
	to {
		height: 4.5em;
	}
}

.pop {
	animation: pop 0.75s;
}

@keyframes pop {
	from {
		transform: translate(-50%, -50%) scale(0.1);
		-webkit-transform: translate(-50%, -50%) scale(0.1);
	}
	to {

		transform: translate(-50%, -50%) scale(1.0);
		-webkit-transform: translate(-50%, -50%) scale(1.0);
	}
}

.dim {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0,0,0,0.8);

	animation: dim 0.75s linear;
}

@keyframes dim {
	from {
		background-color: rgba(0,0,0,0);
	}
	to {
		background-color: rgba(0,0,0,0.8);
	}
}

.fof{
	display: table-cell;
	vertical-align: middle;
}

.fof h1{
	font-size: 50px;
	display: inline-block;
	padding-right: 12px;
	animation: type .5s alternate infinite;
}

@keyframes type{
	from {
		box-shadow: inset -3px 0px 0px #888;
	}
	to {
		box-shadow: inset -3px 0px 0px transparent;
	}
}

@keyframes jumpUp {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, -6px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes jumpDown {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, 6px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@media screen and (max-width: 768px) {

	header > a {
		font-size: 1.5em;
	}

	#user-bar span, #search-bar, .free-space {
		display: none;
	}

	#newpost-bar span {
		left: 50%;
	}

	#newpost-bar, #profile-bar {
		max-width: 70vw;
	}

	#list-posts, #list-comments {
		width: 100%;
	}

	.post {
		margin-left: 0;
		margin-right: 0;
	}

	.post #postByTimeAgo {
		float: initial;
	}

	#post-page .post {
		width: 90%;
		word-wrap: break-word;
	}

	.page {
		align-items: center;
		flex-direction: column;
		flex-direction: column-reverse;
	}

	.modal {
		max-width: 80vw;
	}

	header .mobile {
		display: block;
	}
}