body {
	background-color: #8baabf;
	font-family: 'Open Sans', sans-serif;

	display: grid;
	grid-template-areas: "header" "main" "footer";
}

/* Header */

header {
	display: grid;
	grid-auto-columns: 80% auto;
	grid-template-areas: "logo user";
}

header#top-bar {
	grid-area: header;
}

header#user-bar {
	grid-area: user;
}

/* Footer */

footer {
	grid-area: footer;
}

/* Feed page */
#feed {
	grid-area: main;
	grid-template-columns: 25% auto 25%;
	grid-template-areas: "side-bar main ." "side-bar main ." ". main .";	
}

#feed #side-bar {
	grid-area: side-bar;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#feed #list-posts {
	grid-area: main;
	overflow: auto;
}

/* User page */
#user {
	grid-template-columns: 25% auto 25%;
	grid-template-areas: "header header user-bar" "side-bar main ." "side-bar main ." ". main ." "footer footer footer";
}

/* Post page */
#post {
	grid-template-columns: 25% auto 25%;
	grid-template-areas: "header header header" ". main ." "footer footer footer";
}

#post > #story-post {
	grid-area: main;
}

/* -- */

#side-bar > #search {
	align-self: center;
}

#side-bar > #list {
	align-self: center;
}

#list-posts #story-post {
	align-self: center;
}

#list-posts #story-post:hover {
	box-shadow: 0px 5px 20px 0px #2e3940;
}

#story-post a {
	display: block;
	height: 100%;
	width: 100%;
}

a {
	color: black;
	text-decoration: none;
}

.page {
	display: grid;
	grid-gap: 0.5em 0.5em;
}

.container {
	background-color: #ffffff;
	margin: 0.5em;
	padding: 5px;
	border: medium solid #2e3940;
	border-radius: 5px;
}