body {
	background: #e2e1e0;
	font-family: 'Open Sans', sans-serif;

	display: grid;
	grid-template-areas: "header" "main" "footer";
}

header {
	grid-area: header;
	top: 0;
}

footer {
	grid-area: footer;
	bottom: 0;
	text-align: center;
}

/* Profile page */
.profile {
	grid-area: main;

	display: grid;
	grid-gap: 0.5rem 0.5rem;
	grid-auto-columns: 25% auto 25%;
	grid-template-areas: "personal posts .";
}

.profile .profile-bar {
	grid-area: personal;

	display: grid;
	grid-auto-rows: auto 15%;
	grid-template-areas: "user-info" "user-settings";
}

.profile-bar #user-info {
	grid-area: user-info;
}

.profile-bar #user-settings {
	grid-area: user-settings;
}

.profile #posts {
	grid-area: posts;
}

/* Component profile-bar */
.profile-bar {
	display: block;
	background: #ffadad;
	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.profile-bar h1 {
	font-weight: bold;
	color: #444;
}

.profile-bar p {
	padding: 0 30px;
	color: #888;
}

.profile-bar button {
	position: relative;
	height: 35px;
	margin: 10px;

	font-weight: bold;
	font-size: 0.90em;
	letter-spacing: 2px;

	color: #383736;
	border: 2px #383736 solid;
	border-radius: 4px;
	text-transform: uppercase;
	outline: 0;
	overflow:hidden;
	background: none;
	z-index: 1;

	cursor: pointer;
	transition: 0.08s ease-in;
}

.fill:hover {
  	color: white;
}

.fill:before {
  	content: "";
  	position: absolute;
  	background: #383736;
 	bottom: 0;
  	left: 0;
 	right: 0;
 	top: 100%;
 	z-index: -1;
  	transition: 0.08s ease-in;
}

.fill:hover:before {
  	top: 0;
}
/* Component story-post */
.story-post {
	display: block;
	background: #ffffff;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.story-post:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/** Component profile-picture */
.profile-picture {
	border-radius: 50%;
	height: 75px;
	width: 75px;
}

.container {
	display: block;

	border-radius: 2px;
	padding: 10px;
	margin: 10px;

	cursor: default;
}

/* 
#feed {
	grid-area: main;

	grid-template-columns: 25% auto 25%;
	grid-template-areas: "side-bar main ." ". main .";	
}

#post {
	grid-area: main;

	grid-template-columns: 25% auto 25%;
	grid-template-areas: ". main .";
}

#user {
	grid-area: main;

	grid-template-columns: 25% auto 25%;
	grid-template-areas: "side-bar main ." ". main .";
}

#feed #side-bar {
	grid-area: side-bar;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#feed #list-posts {
	grid-area: main;
}

#post #story-post {
	grid-area: main;
}


#story-post {
	word-wrap: break-word;
}

#side-bar > #search {
	align-self: center;
}

#side-bar > #list {
	align-self: center;
}

#list-posts #story-post {
	align-self: center;
}

#list-posts #story-post:hover {
	box-shadow: 0px 5px 20px 0px #2e3940;
}

#story-post a {
	display: block;
	height: 100%;
	width: 100%;
}

a {
	color: black;
	text-decoration: none;
}

.page {
	display: grid;
	grid-gap: 0.5em 0.5em;
}

.container {
	background-color: #ffffff;
	margin: 0.5em;
	padding: 5px;
	border: medium solid #2e3940;
	border-radius: 5px;
} */